<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>

		<default-wrapper xsi:type="AsyncWrapper">
			<wrapper-target xsi:type="RetryingWrapper" retryDelayMilliseconds="15000" retryCount="4" />
		</default-wrapper>

		<!-- write logs to file  -->
		<target xsi:type="File"
				  name="allfile"
				  fileName="logs/FullApi-${shortdate}.log"
				  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!--<target xsi:type="Mail"
				  name="emailTarget"
				  smtpServer=""
				  smtpPort="25"
				  subject="An Unhandled Exception has Occurred on ${machinename}..."
				  layout="Time: ${longdate}${newline}Type: ${level:uppercase=true}${newline}Logger: ${logger}${newline}Message: ${message}${newline}${exception:format=ToString,StackTrace}"
				  from="" to="" />-->

	</targets>


	<!-- rules to map from logger name to target -->
	<rules>

		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Info" writeTo="eventLogTarget" />
		<logger name="*" minlevel="Error" writeTo="emailTarget">
			<filters>
				<!--      ArgumentException (bad requests) -->
				<when condition="contains('${exception:format=ToString}', 'System.ArgumentException')" action="Ignore" />

				<!--      FormatException (bad requests) -->
				<when condition="contains('${exception:format=ToString}', 'System.FormatException')" action="Ignore" />

				<!--      Crawlers -->
				<when condition="contains('${message}', 'Yahoo! Slurp') or contains('${message}', 'Googlebot') or contains('${message}', 'bingbot') or contains('${message}', 'uMBot') or contains('${message}', 'MJ12bot') or contains('${message}', 'WordPress')" action="Ignore" />

			</filters>
		</logger>
	</rules>
</nlog>

